/*Account*/


.accountView {
	background-color: rgb(119, 119, 119);
	height: 600px;
}

.account {
	text-align: center;
	position: relative;
}

#accountHeader {
	font-size: 30px;
}

.button {
  padding:0px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
}

#accountImg {
	height: 100px;
	width: 100px;
}

#accountButton {
  border-top: 1px solid #6d6c6c;
  background: #6d6c6c;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d6c6c), to(#6d6c6c));
  background: -webkit-linear-gradient(top, #6d6c6c, #6d6c6c);
  background: -moz-linear-gradient(top, #6d6c6c, #6d6c6c);
  background: -ms-linear-gradient(top, #6d6c6c, #6d6c6c);
  background: -o-linear-gradient(top, #6d6c6c, #6d6c6c);
  padding: 6.5px 13px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 0px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #4aaaa5;
  font-size: 14px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
}

#accountButton:hover {
  border-top-color: #e45f56;
  background: #e45f56;
  color: #ffffff;
}

#accountButton:active {
  border-top-color: #6d6c6c;
  background: #6d6c6c;
}

#nameform {
  float: right;
  padding: 25px;
  padding-right: 300px;
}

#imagename {
  padding: 35px;

}

#accountImg {
  margin: 25px;
}


.categoryCont {
  height: 100px;
  float: center;
  margin: 50px 200px;
}

#categoryspan {
    margin:10px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

#categoryspan:hover {
    background:#E45F56 ;
}

#categoryspan label {
    float:center;
    width:4.0em;
}

#categoryspan label span {
    text-align:center;
    padding:5px 5px;
    display:block;
}

#categoryspan label input {
    position:absolute;
    top:-20px;
}

#categoryspan input:checked + span {
    background-color:#e45f56;
    color: black;
}

input[type="checkbox"] {
    display:none;
}

/*
.underCatButton{
  margin-top: 15px;
  height: 40px;
  float: left;
  margin-left: 20px;
  color: white;
  font-size: 18px;
  background-color: rgb(191,191,191);
  border: 0;
  outline: none;
  border-radius: 5px;
}
.underCatButton:hover{
  background-color: rgb(255,99,71);
}


.accountCont {
	text-align: center;
}
*/


.starRating{
  display        : inline-block;
  position       : relative;
  height         : 24px;
  background     : url('stars.png') repeat-x 0 0;
  vertical-align : bottom;
}

.starRating div{
  float    : left;
  position : relative;
  height   : 24px;
}

.starRating input{
  position : relative;
  z-index  : 1;
  width    : 24px;
  height   : 24px;
  margin   : 0;
  padding  : 0;
  opacity  : 0;
}

.starRating label{
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 24px;
}

.starRating span{
  display : none;
}
/*
.starRating       input:checked       + label,
.starRating:hover input:checked:hover + label{
  background : url('stars.png') repeat-x 0 -24px;
}

.starRating:hover input:checked + label{
  background : transparent;
}

.starRating:hover input:hover + label{
  background : url('stars.png') repeat-x 0 -48px;
}*/

#map-canvas{
	width: 400px;
	height: 300px;
	margin-left: 250px;
}
#search{
	margin-top: 10px;
	height: 20px;
	width: 220px;
}

#checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

#circle {
    position: absolute;
    width:0;
    height:0;
    border:11px solid #c9ff00;
    border-radius:11px;
    left:0;
    top:0;
}

#stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:11px;
    top:6px;
}

#kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:8px;
    top:12px;
}
