.main{
	height: 1100px;
}

/*Headers*/
.inputHeader{
	float: left;
	text-align:bottom;
	font-size: 20px;
	padding-bottom: 5px;
	border-bottom:3px solid #4a5a66;
	width: 550px;
	margin-top: 0px;
	margin-left: 5px;
}
.inputHeader p{
	margin:0px;
	padding:0px;
	display: inline;
}

#calHeader{
	margin-right: 40px;
	width: 300px;
}
#mapHeader{
	width: 890px;
}

/*Inputboxes*/
.inputbox{
	margin-top: 40px;
	float: left;
}

/*Calendar*/
#calendar{
	margin-right: 40px;
	width: 300px;
	height: 280px;
	position: relative;
}
#calendar h4{
	width: 140px;
	border-bottom: 2px solid #4a5a66;
	vertical-align:top;
	font-size: 16px;
	margin-left: 30px;
	position: relative;
}
.dateTime{
	margin-left: 50px;
	height: 25px;
	font-size: 20px;
	padding-left:5px;
	position: relative;
}

#mydate{
	width: 200px; /*Bredden på kalenderen*/
}

#time h4{
	margin-top: 40px;
	position: relative;
}
#mytime{
	width: 70px;
	position: relative;
}

/*Undercategories*/
#categories{
	width: 560px;
	height: 280px;
}

.underCatButton{
	margin-top: 15px;
	height: 40px;
	float: left;
	margin-left: 20px;
	color: white;
	font-size: 18px;
	background-color: rgb(191,191,191);
	border: 0;
	outline: none;
	border-radius: 5px;
}
.underCatButton:hover{
	background-color: rgb(255,99,71);
}

/*Map*/
#map{
	width: 900px;
	height: 550px;
	position: relative;
}	
#map-canvas{
	width: 450px;
	height: 450px;
	margin-left: 10px;
	float: left;
}
#search{
	margin-top: 10px;
	height: 20px;
	width: 200px;
}

/*List of Workers*/
#people{
	width: 410px;
	height: 450px;
	margin-left: 30px;
	float: left;
	overflow: auto;
}

.workers input[type='radio'] {
	transform: scale(1.5);
}

.workers{
	display: block;
	height: 80px;
	width: 370px;
	float: left;
	padding-top: 8px;
	border-bottom: 2px solid #BFC9C3;
	background-color: white;
}

.workersRadio{
	display: block;
	height: 80px;
	width: 50px;
	float: left;
	margin-bottom: 5px;
	margin-right: 3px;
	text-align: center;
	padding-top: 27px;
}
.workerPicture {
	display: block;
	margin-top: 5px;
	height: 60px;
	width: 60px;
	float: left;
	border: 1px solid #999999;
}
.userImage{
	height: 60px;
	width: 60px;
}

.labels{
	display: block;
	margin-left: 10px;
	height: 80px;
	width: 220px;
	float: left;
}

/*Submit*/
#submitDiv{
	width: 900px;
	float: left;
	height: 150px;
}

.submitButton{
	width: 200px;
	height: 60px;
	float: right;
	margin-top: 30px;
	margin-bottom: 80px;
	margin-right: 20px;
	border-radius: 5px;
	background-color: rgb(255,99,71);
	color: white;
	font-size: 16px;
	border: 0;
}
.submitButton:hover{
	background-color: rgb(225, 67, 41);
}

#popupOverlay{
	position: relative;
	position: fixed;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #eeeeee;
	opacity: 0.4;
	display: none;
}
#popupWindow{
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	margin-left: -150px;
	margin-top: -100px;
	position: fixed;
	background-color: white;
	border: 2px solid #6d6c6c;
	display: none;
	border-radius: 5px;
}

#confirmTekst {
	padding-top: 10px;
	font-size: 20px;
	text-align: center;
}

#confirmButton {
	left: 50%;
	position: absolute;
	width: 100px;
	margin-left: -50px;
	bottom: 25px;
	height: 40px;
	border-radius: 5px;
	background-color: rgb(255,99,71);
	color: white;
}
