/*PAGE*/

.page {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F6F5F2;
}

/*HEADER*/

.header {
	background-color: #4a5a66 ;
	border: 1px solid black;
	height: 120px;
}

.header > .logo {
	width: 0;
	height: 50px;
	float: left;
	margin: 10px;
}

.header > .box {
	background-color: #DFDDDA   ;
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
	width: 110px;
	height: 40px;
	float: left;
	margin: 10px;
	position: relative;
	left: 450px;
	top: 35px;
}

.box > a {
	position: relative;
	top: 10px;
}


/*Må justere litt på fagene*/
.header-button {
   border-top: 1px solid #f7f7f7;
   background: #303d45;
   background: -webkit-gradient(linear, left top, left bottom, from(#e1e5e8), to(#303d45));
   background: -webkit-linear-gradient(top, #e1e5e8, #303d45);
   background: -moz-linear-gradient(top, #e1e5e8, #303d45);
   background: -ms-linear-gradient(top, #e1e5e8, #303d45);
   background: -o-linear-gradient(top, #e1e5e8, #303d45);
   padding: 9.5px 19px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #2ebfa7;
   font-size: 15px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.header-button:hover {
   border-top-color: #ed7842;
   background: #ed7842;
   color: #f7f2f7;
   }
.header-button:active {
   border-top-color: #ffffff;
   background: #ffffff;
   }


.login > .loginId {
	float: right;
	margin: 5px;
}

#toggle {
	position:absolute;
	appearance:none;
	cursor:pointer;
	left:-100%;
	top:-100%;
}

#toggle + label {
	position:absolute;
	cursor:pointer;
	padding:10px;
	background: #6D6C6C ;
	hover: ;
	width: 100px;
	right: 0px;
	border-radius: 3px;
	padding: 8px 10px;
	color: #FFF;
	line-height:20px;
	font-size:12px;
	text-align:center;
	-webkit-font-smoothing: antialiased;
	/*margin:20px 50px;*/
	transition:all 500ms ease;
}

/* Denen fungerer ikke atm
#toggle:hover {
	background-color: black; 
	color: white;
}*/

#toggle + label:after {
	content:"Open" 
}

#toggle:checked + label {
	/*background:#dd6149;*/
	background:#6D6C6C;

}

#toggle:checked + label:after {
	content:"Close"
}


/*NAV*/

.nav {
	background-color: #4AAAA5 ;
	border: 1px solid black;
	height: 35px;
	position: relative;
	top: 5px;

	-webkit-transition:     height .8s ease;
    -moz-transition:        height .8s ease;
    -o-transition:          height .8s ease;
    -ms-transition:         height .8s ease;
    transition:             height .8s ease;
	
	max-height:     35px;
    /*opacity:        0;*/
    overflow:       hidden;
}

.nav > .category {
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
	width: 100px;
	height: 100px;
	float: left;
	position: relative;
	left: 40px;
	top: 20px;
	margin: 20px;
}

.category > a {
	position: relative;
	top: 35px;
}

/*MAIN*/

.main {
	height: 600px;
	position: relative;
	top: 10px;
}

.main > .image {
	width: 416px;
	height: 416px;
	border: 1px solid black;
	position: relative;
	float: left;
	margin: 20px;
}

.main > #image0 {
	border: 1px solid black;
}

.main > #text0 > p {
	float: right;
	position: relative;
	width: 400px;
	margin: 20px;
}

.main > #text1 > p {
	float: left;
	position: relative;
	text-align: left;
	width: 800px;
	margin: 0px;
}

/*FOOTER*/

.footer{
	height: 50px; 
	position: fixed;
	background-color: #7ACCC8 ;
	bottom: 0;
	width: inherit;
	text-align: center;
}

