/*PAGE*/

.page {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F6F5F2;
}

/*HEADER*/

.header {
	background-color: #4a5a66 ;
	border: 1px solid black;
	height: 180px;
}

.header > .logo {
	width: 0;
	height: 50px;
	float: left;
	margin: 10px;
}

.header > .box {
	background-color: #4a5a66;
	border: 0px solid black;
	border-radius: 10px;
	text-align: center;
	width: 100px;
	height: 40px;
	float: left;
	margin: 15px;
	position: relative;
	left: 450px;
	top: 35px;
}

/*.box > a {
	position: relative;
	top: 10px;
}*/

/*.img {
	max-height: 100%;
	max-width: 100%;
}*/


/*Må justere litt på fagene*/
.header-button {
	border-top: 1px solid #f7f7f7;
	background: #E45F56; 
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e5e8), to(#303d45));
	background: -webkit-linear-gradient(top, #e1e5e8, #303d45);
	background: -moz-linear-gradient(top, #e1e5e8, #303d45);
	background: -ms-linear-gradient(top, #e1e5e8, #303d45);
	background: -o-linear-gradient(top, #e1e5e8, #303d45);
	padding: 12px 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #7ACCC8;
	font-size: 15px;
	font-weight: bold;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-decoration: none;
vertical-align: middle;
   }
.header-button:hover {
   border-top-color: #ed7842;
   background: #ed7842;
   color: #f7f2f7;
   }
.header-button:active {
   border-top-color: #ffffff;
   background: #ffffff;
   }


.login > .loginId {
	float: right;
	margin: 5px;
}

#toggle {
	position:absolute;
	appearance:none;
	cursor:pointer;
	left:-100%;
	top:-100%;
}

#toggle + label {
	position:absolute;
	cursor:pointer;
	padding:10px;
	background: #6D6C6C ;
	hover: ;
	width: 100px;
	right: 0px;
	border-radius: 3px;
	padding: 8px 10px;
	color: #FFF;
	line-height:20px;
	font-size:12px;
	text-align:center;
	-webkit-font-smoothing: antialiased;
	/*margin:20px 50px;*/
	transition:all 500ms ease;
}


#toggle + label:after {
	content:"Open" 
}

#toggle:checked + label {
	background:#6D6C6C;

}

#toggle:checked + label:after {
	content:"Close"
}


/*NAV*/

.nav {
	background-color: #4AAAA5 ;
	border: 1px solid black;
	height: 35px;
	position: relative;
	top: 5px;

	-webkit-transition:     height .8s ease;
    -moz-transition:        height .8s ease;
    -o-transition:          height .8s ease;
    -ms-transition:         height .8s ease;
    transition:             height .8s ease;
	
	max-height:     35px;
    /*opacity:        0;*/
    overflow:       hidden;
}

.nav > .category {
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
	width: 100px;
	height: 100px;
	float: left;
	position: relative;
	left: 40px;
	top: 20px;
	margin: 20px;
}

.category > a {
	position: relative;
	top: 35px;
}

.category > img {
	width: 80px;
	height: 80px;

}

img:hover {
 -webkit-filter: invert(80%);  

}

/*MAIN*/

.main {
	height: 400px;
	position: relative;
	top: 10px;
}


.main > #topliste > p {
	float: right;
	position: relative;
	width: 300px;
	margin: 20px;
	border: 2px;

}

.main > #text1 > p {
	float: left;
	position: relative;
	text-align: left;
	width: 800px;
	margin: 0px;
}

/*FOOTER*/

.footer{
	height: 350px; 
	background-color: #7ACCC8 ;
	bottom: 0;
	width: inherit;
	text-align: center;
	float: left;
}

.footerBox{
	height: 340px;
	margin-left: 30px;
	float: left;
}
.footerHeader{
	margin-bottom: -20px;
}
#contact{
	width: 250px;
}
.contactFormHeader{
	float: left;
	width: 250px;
	text-align:left;
}

.contactFormElement{
	float: left;
	width: 245px;
	height: 20px;
	border-radius: 5px;
	border: none;
	margin-top: -20px;
}
#comment {
	height: 100px;
}
#sendMessageButton {
	margin-top: 20px;
	float: right;
	height: 30px;	
}

#divLinks{
	width: 270px;
}
#copyright {
	margin-top: 50px;
	width: 290px;
	height: 100px;
}
.copy{
	float: left;
	height: 100px;
}
#copyrightSpan{
	width: 50px;
	text-align: center;
	vertical-align: center;
	margin-left: 50px;
}
#copyrightSymbol {
	transform: scale(1.7);
}
#names{
	width: 140px;
	text-align: left;
}

#logo{
	width: 290px;
	height: 180px;
	position: relative;
}
#footerLogo{
	margin-top: 40px;
	width: 250px;
	bottom: 10px;
	right: 20px;
	position: absolute;
}

.css-slideshow{
	position: relative;
	max-width: 495px;
	height: 370px;
	margin: 5em auto .5em auto;
	width: 495px;
	float: left;
	border: 1px solid black;
	margin: 10px;
}
.css-slideshow figure{
   margin: 0;
   position: absolute;
}
.css-slideshow figcaption{
   position: absolute;
   top: 0;
   color: #fff;
   background: rgba(0,0,0, .3);
   font-size: .8em;
   padding: 8px 12px;
   opacity: 0;
   transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
   transition: opacity .5s;
   opacity: 1;
}
.css-slideshow figure{
   opacity:0;
}

.topliste {
	position: right;
	border: 1px solid black;
	float: right;
	margin: 10px;
}


figure:nth-child(1) {
   animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
   animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
   animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
   animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
   animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
   animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
   animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
   animation: xfade 48s 0s infinite;
}

@keyframes xfade{
   0%{
      opacity: 1;
   }
   10.5% {
      opacity:1;
   }
   12.5%{
      opacity: 0;
   }
   98% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}

